# -----------------------------
# Node.js & Backend Essentials
# -----------------------------
node_modules/
package-lock.json
.env
.env.local
.env.*.local

# -----------------------------
# Log files
# -----------------------------
*.log

# -----------------------------
# Windows system files
# -----------------------------
*.exe
*.msi
*.mov
*.pdf
*.docx
*.jpeg
*.jpg
*.png
*.zip
*.ini
*.DAT
*.TM*
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Videos/
